<!--Header File: used as template URL in directive 'appHeader'
Used to create the application header-->
<nav class="avbar navbar-default navbar-inverse" >
    <div class="container-fluid" style="margin-bottom: 1%;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand handCursor" >{{corpName}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left" style="padding-top: 2px">
                <li ng-repeat="objHeader in headerCategories"  class="handCursor" ng-click="filterGrid(objHeader.categoryId)"><a >{{objHeader.category}}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li tooltip-placement="bottom" uib-tooltip="Shortlisted Item" class="handCursor" ng-click="fliterShortlist()"><a ><span class="glyphicon glyphicon-heart" ></span>
                    <div class="cartIcon">{{shortlistCount}}</div>
                </a></li>
                <li class="liCrt handCursor" tooltip-placement="bottom" uib-tooltip="Cart Items" style="padding-right: 15px;"><a><span class="glyphicon glyphicon-shopping-cart" ></span>
                <div class="cartIcon">{{cartCount}}</div>
                </a>
                </li>
            </ul>


            <form class="navbar-form navbar-right" role="search">

            <!--Auto-complete control-->
              <angucomplete id="ex1" placeholder="Search for..."  pause="100" autocopletetext="autocopletetext" description-field="title"
                              selectedobject="selectedCategory" localdata="autoCompleteData" searchfields="title" titlefield="title"
                              minlength="1" inputclass="form-control form-control-small" matchclass="highlight" />
            </form>
        </div>
    </div>



<!--Panel: Shopping cart preview-->
    <div class="panel panel-default smallShoppingbox" style="display: none;" id="SmallCart">
        <div class="panel-heading">
            <div class="arrow_sc"></div>
            <h3 class="panel-title" style="display: inline-block"><div class="header_left">
                <label style="    float: left;margin-right: 5px;">Shopping Cart:</label>
                <label style="font-size:12px ">({{cartCount}} ITEMS)</label>
            </div>
                <div class="header_right">
                    <label>Rs {{total1AfterDiscount}}</label>
                    |
                    <label style="font-size:10px;text-decoration: line-through ">Rs {{totalBeforeDiscount}}</label>


                </div></h3>

        </div>
        <div >
            <div ng-repeat="objItm in shoppingCart" class="cartItm">
                <div class="ctf_lft_item lft">
                    <img ng-src="{{objItm.image}}" style="height: 90%;">
                </div>
                <div class="ctf_rgt_item lft"  ><div class="lft" style="width:75% "> {{objItm.title}}
                   <p>Qty: {{objItm.quantity}}</p>
                </div>
                    <div class="rgt">Rs {{objItm.priceNew}}</div>
                </div>

            </div>
        </div>
        <button class="buttonApp" style="float: right;width: 100%"  ng-click="placeOrder();"
        <button >
            <span>PLACE ORDER</span>
        </button>
        </button>
    </div>


</nav>