

<ul class="products">



    <li ng-repeat="product in directiveScope" class="col-sm-6 col-md-4 col-xs-12" style="text-align: center;" >
        <div style=" margin: 0 auto;height: 100%;width: 100%;">
            <a>
                <div class="image" ng-style="{'background-image':'url({{product.image}})'}"></div>

                <h1><p>De Berry Flower Hairband -...</p></h1>

                <h2><p>{{product.size}}</p></h2>
                <h2><p style="display: inline">Rs {{product.priceNew}}</p> | <p style="display: inline;text-decoration: line-through;">Rs {{product.priceOld}}</p></h2>
                <div class="informations">
                <div ng-switch on="product.isSortlisted">


                    <div class="fresh" ng-switch-when="false" ng-click="updateShortlist(product,true)">

                    </div>
                    <div class="sortlisted" ng-switch-when="true"  ng-click="updateShortlist(product,false)">

                    </div>
                </div>

                    <button  ng-disabled="product.isAddedtocart" class="buttonApp" style="float: right"  ng-click="updateCart(product,true);"
                    <button >
                        <span>{{product.isAddedtocart ? 'Added In Cart' : 'ADD TO CART'}}</span>
                    </button>
                    </button>

                </div>
            </a>
           <!-- <div class="divInfo"><div style="display: inline;">added in cart</div> </div>-->
            <div ng-if="product.isAddedtocart" class="adc">
                <div class="divInfo"><div style="display: inline;">added in cart</div> <div   class="closeBtn addedtxt"   ng-click="updateCart(product,false);"></div></div>
                </div>
            </div>
        </div>
    </li>

</ul>