

<div style="width: 100%">

    <div ng-class="alertClass" id="divAlert">

        <strong>{{alertMsg1}}</strong>
       {{alertMsg2}}
    </div>
    <div id="parent">
        <div style="width: 20%">  <label>Category By:</label>
            <a class="alert-link"> {{filterBy}}</a>

            <img style="height: 20px;" ng-if="filterBy!='All'" ng-src="{{filterByImage}}"/>
            <div   class="closeBtn" ng-if="filterBy!='All'"  ng-click="refreshProductList(null)" ></div></div>
        <div > <span>|</span>
            <label>Short By:</label>
            <a class="alert-link glyphicon glyphicon-sort-by-alphabet" style="cursor: pointer" ng-click="sortAlphabet(true)"></a>
            <a class="alert-link glyphicon glyphicon-sort-by-alphabet-alt" style="cursor: pointer" ng-click="sortAlphabet(false)"></a></div>

    </div>

</div>

<div style="overflow-y: auto"  ng-style="{height: hgt+ 'px'}">


    <dir-product-item data="products" update-Shortlist-Array="updateShortlistArray(item,isShortlisted)"
                      update-Add-To-Cart-Array="updateAddToCartArray(item,isAddTocart)" open-Details-Window="openDetailsWindow(product)"></dir-product-item>
</div>