@font-face {
    font-family: 'newFont';
    src: url('../fonts/Armata-Regular-webfont.eot');
    src: url('../fonts/Armata-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Armata-Regular-webfont.woff') format('woff'),
    url('../fonts/Armata-Regular-webfont.ttf') format('truetype')
}

html{
    height: 100%
}
label,p{
    color: #4d4d4d;
}
body {
    height: 100%;
    background-image: url(../images/bg.png);
    background-repeat: repeat
}

.glyphicon-shopping-cart,.glyphicon-heart{
    font-size: 20px;
}
.closeBtn{
    background-image: url(../images/close.svg);
    height: 20px;
    width: 20px;
    display: inline-table;
    vertical-align: middle;
    cursor: pointer;
}

#parent{
    width: 104%;
    white-space: nowrap;
    text-align: right;
    background-color: rgba(204, 204, 204, 0.54);
    height: 30px;
    /* vertical-align: middle; */
    padding-top: 4px;
    padding-right: 15px;
    /* padding-left: 30px; */
    border: 1px solid #CCC;
    border-radius: 10px;
}

#parent div{
    display:inline-block;
    text-align:right;
}




.adc{

    display: table-cell;
    height: 91%;
    width: 80%;
    background-color: rgba(204, 204, 204, 0.47);
    line-height: 26px;
    position: absolute;


    z-index: 1;
    vertical-align: middle;
    text-align: center;
border-radius: 5px;
}
.adc .divInfo{
    background: none repeat scroll 0 0 #fff;
    box-shadow:0px 0px 10px 6px rgba(119, 119, 119, 0.34);
    color: #5f5f5f;
    cursor: default;
    display: inline-block;
    font-size: 15px;
    color: #363636;
    font-style: italic;
    font-weight: 700;
    height: 26px;
    line-height: 26px;
    width: 50%;
    margin: 0 auto;
    margin-top: 50%;

    width: 160px;
    z-index: 2;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
}
.adc .divInfo .addedtxt{
    float: right;
/* vertical-align: initial; */
    margin-top: 3px;
    margin-right: 3px;
}
.overlay {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #000;
    filter: alpha(opacity=50);
    opacity: .1;
    z-index: 1000;
}

.products {
    display:block;
    width:100%;

    position:relative;

    font-size:0px;
    list-style:none;
    text-align: center
}

.products li {
    display:inline-block;

    height:350px;
    position:relative;
    margin:0px;

    z-index:1;
}

.products li:hover {
    z-index:2;
}
.alert {
    padding: 5px;
     margin-bottom: 10px;
}

.products li a {
    display:block;
    width:80%;
    height:auto;
    padding:10px;
    position:absolute;
    background-color:white;
    cursor:pointer;
    border: 1px solid #ccc;


}

.products li:hover a {
    box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    -moz-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    -o-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
    -ms-box-shadow:0px 0px 5px rgba(0,0,0,0.5);
}

.products li a .image {
    display:block;
    height:200px;
    position:relative;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;

}

.products li a h1 {
    display:block;
    height:auto;
    margin:10px 0px;
    font-size: 15px;
    font-weight:bold;

}
.products li a:hover{
    text-decoration: none;
}

.products li a h2 {
    display:block;
    height:auto;
    margin:10px 0px;
    color: #999;
    font-size:12px;
    font-weight:normal;
}

.products li a .informations {
    display:none;
}

.products li a .informations p,
.products li a .informations label {
    display:inline-block;
    height:auto;
    margin:10px 0px;
    float: left;
    font-size:10px;
    color:grey;
    font-weight:normal;
    width: 50%;
}
.fresh{
    background-image: url(../images/premium-sprite.png);
    margin-left: 6px;
    /* margin-top: 13px; */
    text-align: center;
    margin-left: 8px;
    background-position: -290px 4px;
    display: block;
    width: 32px;
    height: 38px;
    border: 1px solid #ccc;
    float: left;

}

.details{
    background-image: url(../images/premium-sprite.png);
    margin-left: 6px;
    /* margin-top: 13px; */
    text-align: center;
    margin-left: 8px;
    background-position: -235px 4px;
    display: block;
    width: 32px;
    height: 38px;
    border: 1px solid #ccc;
    float: left;

}
.details:hover{
    background-position: -263px 4px
}
.fresh:hover{
    background-position: -344px 4px;

}
.sortlisted{
    background-image: url(../images/premium-sprite.png);
    margin-left: 6px;
    /* margin-top: 13px; */
    text-align: center;
    margin-left: 8px;
    background-position: -344px 4px;
    display: block;
    width: 32px;
    height: 38px;
    border: 1px solid #ccc;
    float: left;

}
.sortlistedLogo{
    position: absolute;margin-top: 10px;
}
.cartIcon
{
    position: absolute;
    top: 2px;
    right: 0px;
    background-color: #E91E1E;
    width: 23px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.products li a:hover .informations {
    display:block;
}

/*.products li a:hover a .informations {
    display:block;
}*/






.buttonApp{
    font-size: 15px;

    border: solid 1px #eee;
    bottom: 175px;
    height: 40px;
    width: 120px;
    cursor: pointer;
    color: #aaa;
    background-color: rgba(13, 166, 224, 0.05);
    display: block;

}



button:hover{
    background-color: #0da6e0;;
    border:none;
    color: #FFF;
}

.animate-hide {
    -webkit-transition: 1025ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1025ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1025ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1025ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1025ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;

}

.animate-hide.ng-hide {
    line-height:0;
    opacity:0;
    padding:0 10px;
    left: -100%
}
.btstrp {
    position: fixed;
    bottom: 0;
    width: 100%;

    left: 0;
    z-index: 4!important;
}
 .ctr {
    background: url(../images/img5.png);
     background-repeat: no-repeat;
     background-size: 100% 100%;
    width: 100%;
     margin-bottom: 20px;

    /* box-shadow: 0px 0px 15px 8px rgba(204, 204, 204, 0.67)*/
}
.ctr .btin_srtp {
    font-size: 12px;
    height: 47px;
    margin: 0 auto;
    padding: 0;
    width: 1163px;

}
.ctr .btin_srtp ul li {
    border-right: 1px solid #E3E3E3;
    float: left;
    list-style-type: none;
    padding: 10px 15px;
    line-height: 22px;

    font-family: Arial;
    font-size: 13px;
}
.container-fluid{
    padding-right:0px;
    padding-left: 0px;
}

.toggler {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 1px solid #fff;
    -webkit-box-shadow: 1px 0px 8px rgba(0, 0, 0, .175);
    box-shadow: 1px 0px 8px rgba(0, 0, 0, .175);
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    width: 20px;
    height: 48px;
    background-color: #CCC;
    cursor: pointer;
    right: -19px;
    position: absolute;
    top: 60px;

}
.navbar-inverse .navbar-nav > li > a {

    font-weight: bolder;
}

.navbar-inverse {
    padding-top: 5px;

    background: #efefef;
    background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
    box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    border-radius: 10px;


}
nav ul li {
    float: left;
}
nav ul li:hover {
    background: #4b545f;
    background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
    background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
}
nav ul li:hover a {
    color: #fff;
}

nav ul li a {
    display: block; padding: 25px 40px;
    color: #757575; text-decoration: none;
}
nav ul:after {
    content: ""; clear: both; display: block;
}


















.notApplicable {
    text-decoration:line-through
}
.availability {
    color: #42A021;
    font-size: 16px;
}
.smallShoppingbox {
    margin-top: -14px;

    display: none;
    position: absolute;
    right: 15px;
    width: 25%;
    z-index: 8;

    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.47);
}
.smallShoppingbox_bg {
    background-color: #fff;
    float: left;
    max-height: 300px;
    width: 100%;
}
.smallShoppingbox .arrow_sc {
    border-style: solid;
    border-width: 0 6.55px 7px 7px;
    border-color: transparent transparent #F5F5F5;
    height: 0;
    line-height: 0;
    margin-top: -17px;
    position: absolute;
    right: 38px;
    width: 0;
}
.smallShoppingbox_bg .sShoppingCrt_header   {
    background-color: #f1f1f1;
    float: none;
    height: 36px;
    overflow: hidden;
    width: 99.5%;
    margin: 1px;
}
.smallShoppingbox_bg .header_left {
    font-size: 14px;
    margin-left: 14px;
    float: left;
}

.smallShoppingbox_bg .header_right {
    float: right;
    font-size: 14px;
    margin-right: 12px;
}
.smallShoppingbox_bg .ct_filled_cart {
    border-bottom: 1px solid #eee;
    height: auto;
    width: 100%;
}

 .cartItm
{
    height: 75px;
    background-color: rgba(245, 245, 245, 0.37);
    border-bottom: 1px solid #f5f5f5;
}
.ctf_lft_item {
    height: 75px;
    line-height: 75px;
    text-align: center;
    width: 25%;
    margin-right: 10px;
    margin-left: 15px;
}
.ctf_rgt_item {
    line-height: 14px;
    margin: 10px 0;
    text-align: left;
    width: 65%;
}
.lft {
    float: left;
}
.rgt {
    float: right;
}
.txtCenter{
    text-align: center;
}
.fullWidth {
    width: 100%;
}
.fullHight{
    height: 100%;
}
.handCursor{
    cursor: pointer;
}
.borderTop{
    border-top: 1px solid  #e5e5e5;
}
.borderBtm{
    border-bottom: 1px solid  #e5e5e5;
}

.ct_box .ctf_lfth {
    font-size: 14px;
    margin-left: 14px;
}

.accordion {
    margin-bottom: 20px;
}

.accordion-group {
    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
}
.accordion-heading {
    border-bottom: 0;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    height: 40px;
    line-height: 34px;
    padding: 0 15px
}
.collapse.in {
    height: auto;
}
.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #e5e5e5;
}
.accordion-heading .accordion-toggle {

    color: #000000;

}
.accordion-heading:hover {
    cursor: pointer;
 background-color: rgba(153, 153, 153, 0.81);
    color: #FFF;
}
.accordion-heading .accordion-toggle:hover {
    font-weight: bold;
}
.input-group{
    margin-bottom: 10px;
    width: 100%;
}
.input-group span{
    width:15%;;
}

.topHeader
{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;

    float: left;
    width: 100%;

}
.tpc {
    border-bottom: 1px solid #e5e5e5;
}
.tpc .tp1 {
    width: 44%;
}
.tpc .tp2 {
    width: 17%;
}
.tpc .tp3 {
    width: 9%;
}
.tpc .tp4 {
    width: 15%;
}

.tp {
    background: none repeat scroll 0 0 rgba(245, 245, 245, 0.54);;
    border-right: 1px solid #e5e5e5;
    color: #5d5d5d;

    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
}

.tblCart {
    border-collapse: collapse;
    width: 100%
}
.tblCart td, .tblCart th {
    border: 1px solid #e5e5e5;
}

.promrp {
    padding-left: 30%;
}
.promrp p {
    background-color: #dedede;
    float: left;
    font-size: 14px;
    height: 21px;
    line-height: 21px;
    margin-left: 0;
    text-align: center;
    width: 20px;
}
.proqty {
    background-color: #ffffff !important;
    border: 1px solid #dedede;
    font-size: 16px !important;
    height: 21px !important;
    line-height: 24px !important;
    width: 24px !important;
}

/*CSS for Details popup*/
#p_top_section {
    overflow: hidden;

    height: 100%;
}
.p_rgt_section {
    width: 20%;
    border-left: 1px solid #e5e5e5;

}
.modal-dialog  {width:75%;}
.modal-body{padding: 0px}

/******************/

/*******Slider CSS******/

#rangeSlider .slider-selection {
    background: rgba(5, 239, 5, 0.31)
}
#rangeSlider .slider-track-high{
    background: #CCCCCC;
}
#rangeSlider .slider-track-low {
    background: #CCCCCC;
}
/***********************/