<!--Modal popup : used to show the details of selected Item-->

<!--Modal Header-->
<div class="modal-header">

    <h3 class="modal-title"> {{selectedDetailsProduct.title}}</h3>
</div>
<!--Modal Body-->
<div class="modal-body" style="height: 400px;">
<div id="p_top_section" class="lft fullWidth fullHight">
    <div class="p_rgt_section rgt fullHight">
        <p class="txtCenter availability" style="padding: 30px;font-size:35px ">In Stock</p>


        <div class="input-group borderTop" style="padding:10px;margin:0px ">
            <div class="lft"><strong>Unit Price</strong> </div>
            <div class="rgt">Rs {{selectedDetailsProduct.priceNew}}</div>
        </div>
        <div class="input-group borderTop" style="padding:10px; margin:0px">
            <div class="lft"><strong>No Of Unit(s)</strong> </div>
            <div class="rgt"><div class="promrp" style="padding:0px">
                <p  style="cursor: pointer;" ng-click=" updateCartItem(-1)">-</p>
                <p class="proqty">{{quantity}}</p>
                <p  style="cursor: pointer;"  ng-click=" updateCartItem(1)">+</p>
            </div></div>
        </div>
        <div class="input-group borderTop borderBtm" style="padding:10px;margin:0px">
            <div class="lft"><strong>Total </strong> </div>
            <div class="rgt">Rs {{selectedDetailsProduct.priceNew*quantity}}</div>
        </div>

    </div>
    <div  class="lft fullHight" style="width:80% " >
        <div class="lft fullHight txtCenter" style="width:70%;">
            <img ng-src="{{selectedDetailsProduct.image}}" style="    height: 100%;">
        </div>
        <div class="rgt fullHight"style="width: 30%;">
           <p><strong>Overview:</strong></p>
            {{selectedDetailsProduct.desc}}
        </div>
    </div>
    {{selectedDetailsProduct.priceNew*quantity}}

</div>

</div>
<div class="modal-footer">
<!--Save and continue button-->
    <button class="buttonApp" style="float: right;width:30%"  ng-click="addCard_ContinueShopping();"
    <button >
        <span>Add to Cart & continue Shopping</span>
    </button>
    </button>
</div>